.game{
   text-align: center;
    
}
.cards{width: 100%; display: flex; justify-content: space-around; flex-wrap: wrap;}
.card{text-align: center; margin: 15px; }


.link-image img:hover{
    cursor: pointer;
    border: 2px solid red;
}

.link-image img{
    border: 2px solid white;
    height: 150px;
    border-radius: 50%;
}